<h3>Gifts</h3>

<style>
    table thead td { background: #BBB; font-weight: bold; }
</style>

<table style="width: 100%">
    <thead>
        <td style="width: 5%">Id</td>
        <td style="width: 5%">Premium</td>
        <td style="width: 10%">Title</td>
        <td style="width: 15%">Tags</td>
        <td style="width: 25%">Image</td>
        <td style="width: 25%">Thumbnail</td>
        <td style="width: 5%">Edit</td>
        <td style="width: 5%">Delete</td>
    </thead>
    <tbody>
        {% for gift in gifts %}
            <tr>
                <td>{{ gift.id }}</td>
                <td {% if gift.premium > 0 %}style="background: #ebeba7"{% endif %} >{{ gift.premium }}</td>
                <td>{{ gift.title }}</td>
                <td>{{ gift.tags }}</td>
                <td><img src="{{ asset(gift.getImageWebPath()) }}" /></td>
                <td><img src="{{ asset(gift.getThumbWebPath()) }}" /></td>
                <td><a href="{{ path("adminEditGift", { gid: gift.id }) }}">Edit</a></td>
                <td><a href="{{ path("adminDeleteGift", { gid: gift.id }) }}">Delete</a></td>
            </tr>
            <tr>
                <td colspan="8" style="background: gray; height: 3px"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

