<ul>
    <li><a href="{{ path("adminAddGift") }}">Create Gift</a></li>
    <li><a href="{{ path("adminGifts") }}">Gifts</a></li>

    <li><a href="{{ path("adminAddCategory") }}">Create Category</a></li>
    <li><a href="{{ path("adminCategories") }}">Categories</a></li>

    <li><a href="{{ path("adminAddCover") }}">Create Cover</a></li>
    <li><a href="{{ path("adminCovers") }}">Covers</a></li>
</ul>
