{% extends '::base.html.twig' %}
{% block body %}

Hello {{ user.nick }} ({{ sk }})!
<br />
<b>balance:</b> {{ user.balance }}
<br />
<b>cost:</b> <span id="cost">0</span>
<br />

<h3>Gifts</h3>

<div id="gifts">
    {% for gift in gifts %}
        <img src="{{ asset(gift.getThumbWebPath()) }}" onclick="setGift({{ gift.id }}, {{ gift.premium }})" style="border: 1px solid gray" />
        <br /><br />
    {% endfor %}
</div>

<div id="friends" style="display:none">
</div>

<div id="description" style="display:none">
    <img id="gift_show" />
    <br />
    <textarea id="desc_text" style="width: 300px; height: 70px"></textarea>
    <br />
    <input type="radio" name="privacy" id="is_public" value="public" checked>Публичный
    <br />
    <input type="radio" name="privacy" id="is_private" value="private">Приватный
    <br />
    <input type="checkbox" id="incognito" /> Инкогнито
    <br />
    <input type="submit" value="Готово" onclick="setDescription()" />
</div>

<div id="done" style="display:none">

</div>

<div id="covers" style="display:none">
    {% for cover in covers %}
        <img src="{{ asset(cover.getWebPath()) }}" onclick="setCover({{ cover.id }}, {{ cover.getCost() }})" style="border: 1px solid gray" />
        <br /><br />
    {% endfor %}
</div>

<script>
    var state = { };
    state.cost = 0;

    var price = { };
    price.gift = {{ config.gift_price }};
    price.gift_premium = {{ config.gift_price_premium }};
    price.private = {{ config.private_cost }};
    price.incognito = {{ config.incognito_cost }};

    function htmlEncode(value){
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value){
        return $('<div/>').html(value).text();
    }

    function setGift(gid, premium) {
        state.gift_selected = gid;

        // Update cost
        if (typeof(premium) === 'undefined' || premium == 0) {
            state.cost += price.gift;
        } else if (premium > 0) {
            state.cost += price.gift_premium;
        }

        $('#cost').text(state.cost);

        // Hide Gifts
        $('#gifts').hide();

        // Show friends block
        $.getJSON("{{ path("apiUserFriends", {'sk': sk}) }} ", function(data) {
            $.each(data, function(key, val) {
                name = htmlEncode(val.first_name + " " + val.last_name);
                $("#friends").append("<div><a href='#' onclick='setFriend(\""+val.uid+"\")'>"+name+"</a></div>");    
            });
        });
        
        $('#friends').show();
    }

    function setFriend(uid) {
        state.friend_selected = uid;

        $('#friends').hide();

        // Show description 
        $('#description').show();
    }

    function setDescription() {
        state.description = $("#desc_text").val(); 
        
        state.privacy = 0;
        if ($('#is_private').is(':checked')) {
            state.privacy = 1;
            state.cost += price.private;
        }

        state.incognito = 0;
        if ($('#incognito').is(':checked')) {
            state.incognito = 1;
            state.cost += price.incognito;
        }

        // Update cost
        $('#cost').text(state.cost);

        $('#description').hide();
        
        // Show covers
        $('#covers').show();
    }

    function setCover(cvid, cost) {
        state.cover_selected = cvid;

        // Update cost
        state.cost += cost;

        $('#cost').text(state.cost);

        $('#covers').hide();

        // Purchase 
        $.post("{{ path("apiPurchase", {'sk': sk}) }}", {
                gift: state.gift_selected,
                receiver: state.friend_selected,
                text: state.description,
                privacy: state.privacy,
                incognito: state.incognito,
                cover: state.cover_selected
            },
            function(data) {
                console.log(data);

                if (data.done == 'gift sended') {
                    $('#done').text('Подарок отправлен!');
                } else if (data.balance_error == 'need more money') {
                    $('#done').text('Не хватает денег!');
                }

                $('#done').show();
            },
            "json"
        );
    }
</script>

{% endblock %}
