{% extends '::base.html.twig' %}
{% block body %}

Hello {{ user.nick }} ({{ sk }})!
<br />
<b>balance:</b> {{ user.balance }}
<br />
<b>cost:</b> <span id="cost">0</span>
<br />

<div style="display: none">
    <div id="data" style="width: 500px; height: 400px">
        Подарочек:
        <br />
        <img id="show_gift_img">
        <div id="show_gift_text"></div>
        <span id="show_gift_from"></span>
        <img src="" id="show_gift_from_img">
    </div>
</div>

<div id="gifts_my_block">
    <h3>Мои подарки</h3>
    Новые:
    <div id="gifts_my_new" class="gifts_container"> </div>
    <div>
        <a href="#" onclick="view.my_gifts.scrollGifts('newest', 'back')">&larr;</a>
        <a href="#" onclick="view.my_gifts.scrollGifts('newest', 'forward')">&rarr;</a>
    </div>

    Открытые:
    <div id="gifts_my" class="gifts_container"> </div>
    <div>
        <a href="#" onclick="view.my_gifts.scrollGifts('open', 'back')">&larr;</a>
        <a href="#" onclick="view.my_gifts.scrollGifts('open', 'forward')">&rarr;</a>
    </div>
</div>

<h3>Каталог подарков</h3>

<div id="loader" style='display: none'>
    <img src="{{ asset('images/loading.gif') }}" />
</div>

<div id="gifts_catalog">
    <div id="gifts_block" style='border: 1px solid black; width: 620px; overflow: hidden'>
        <div id="gifts_cats">
            Categories:
            {% for c in categories %}
                <span><a href="#" onclick="gifts_catalog.setCategory('{{ c.id }}')">{{ c.name }}</a></span>&nbsp;
            {% endfor %}
        </div>

        <div>
            sort by: <a href="#" onclick="gifts_catalog.sortGifts('created_at')">new</a> | <a href="#" onclick="gifts_catalog.sortGifts('popularity')">popular</a> 
        </div>

        <div id="gifts_list" class='gifts_list'>
            {% for gift in gifts %}
                <a onclick="purchase.setGift({{ gift.id }}, {{ gift.premium }})" href="#">
                    <img src="{{ asset(gift.getThumbWebPath()) }}" />
                </a>
            {% endfor %}
        </div>

        <div style="clear: both"></div>

        <div id="gift_scroll">
            <a href="#" onclick="view.gifts_catalog.scrollGifts('back')">&larr;</a>
            <a href="#" onclick="view.gifts_catalog.scrollGifts('forward')">&rarr;</a>
        </div>
    </div>

    <div id="friends_block" style="display: none; overflow: hidden;"> 
        <div style="margin-bottom: 7px;">
            <input type="text" id="friend_search_query" >
            <input type="button" value="Search" onclick="view.gifts_catalog.searchFriend()">
            &nbsp;&nbsp;
            <a href="#" onclick="view.gifts_catalog.showFriendsSelector()">показать всех</a>
        </div>

        <div id="friends" class="friends_container">
        </div>

        <a href="#" onclick="view.gifts_catalog.scrollFriends('back')">&larr;</a>
        <a href="#" onclick="view.gifts_catalog.scrollFriends('forward')">&rarr;</a>
    </div>

    <div id="description_block" style="display:none">
        <img id="gift_show" />
        <br />
        Для <span id="gift_for"></span>

        <br />
        <textarea id="desc_text" style="width: 300px; height: 70px"></textarea>
        <br />
        <input type="checkbox" name="privacy" id="is_private" value="private">Приватный
        <br />
        <input type="checkbox" id="incognito" /> Инкогнито
        <br />
        <input type="submit" value="Готово" onclick="view.gifts_catalog.chooseDescription()" />
    </div>

    <div id="done" style="display:none">

    </div>

    <div id="covers_block" style="display:none">
        {% for cover in covers %}
            <div style="float: left; margin: 10px">
                <a href="#" onclick="purchase.setCover({{ cover.id }}, {{ cover.getCost() }})" >
                    <img src="{{ asset(cover.getWebPath()) }}" />
                </a>
                <br />
                cost: {{ cover.getCost() }}
            </div>
        {% endfor %}
    </div>
</div>

<script>
    // INIT

    util.api_url.friends_get    = "{{ path("apiUserFriends", {'sk': sk}) }}";
    util.api_url.purchase       = "{{ path("apiPurchase", {'sk': sk}) }}";
    util.api_url.my_gifts       = "{{ path("apiUserGifts", {'sk': sk}) }}";
    util.api_url.open_gift      = "{{ path("apiOpenGift", {'sk': sk}) }}";
    util.api_url.category_gifts = "{{ path("apiCategoryGiftsLite") }}";

    util.images_path         = "{{ asset(gifts[0].getUploadDir('images')) }}";
    util.thumbs_path         = "{{ asset(gifts[0].getUploadDir('thumbs')) }}";
    util.covers_path         = "{{ asset(gifts[0].getUploadDir('covers')) }}";

    util.price = { };
    util.price.gift         = {{ config.gift_price }};
    util.price.gift_premium = {{ config.gift_price_premium }};
    util.price.private      = {{ config.private_cost }};
    util.price.incognito    = {{ config.incognito_cost }};

</script>

{% endblock %}
