{% extends '::base.html.twig' %}
{% block body %}

{% include 'GiftGeneralBundle:Default:windows.html.twig' %}

<div class="left_nav">
    {% include 'GiftGeneralBundle:Default:top_nav.html.twig' %}
</div>

<div class="right_content">
    <div id="right_loader" class="loader gft_loader" style="display: none"></div>

    <div id="page_index" class="gft_page" style="display: none">
        {% include 'GiftGeneralBundle:Default:gifts_catalog.html.twig' %}
    </div>

    <div id="page_friends_sel" class="gft_page" style="display: none">
        {% include 'GiftGeneralBundle:Default:friends_catalog.html.twig' %}
    </div>

    <div id="page_description" class="gft_page" style="display: none">
        {% include 'GiftGeneralBundle:Default:description.html.twig' %}
    </div>

    <div id="page_covers" class="gft_page" style="display: none">
        {% include 'GiftGeneralBundle:Default:covers.html.twig' %}
    </div>

    <div id="page_done" class="gft_page" style="display: none">
        {% include 'GiftGeneralBundle:Default:send_done.html.twig' %}
    </div>

    <div id="page_friends" class="gft_page" style="display: none">
        {% include 'GiftGeneralBundle:Default:friends.html.twig' %}
    </div>

    <div id="page_friend" class="gft_page" style="display: none">
        {% include 'GiftGeneralBundle:Default:friend.html.twig' %}
    </div>
</div>

<script>
    // UTIL
    // =======================================

    // Api
    // ---------------------------------------
    util.api_url.friends_get    = "{{ path("apiUserFriends", {'sk': sk}) }}";
    util.api_url.purchase       = "{{ path("apiPurchase", {'sk': sk}) }}";
    util.api_url.my_gifts       = "{{ path("apiUserGifts", {'sk': sk}) }}";
    util.api_url.open_gift      = "{{ path("apiOpenGift", {'sk': sk}) }}";
    util.api_url.category_gifts = "{{ path("apiCategoryGiftsLite") }}";
    util.api_url.send_notify    = "{{ path("apiSendNotify") }}";
    util.api_url.get_uid        = "{{ path("apiGetUid") }}";
    util.api_url.balance        = "{{ path("apiGetBalance", {'sk': sk}) }}";
    util.api_url.holidays       = "{{ path("apiGetHolidays", {'sk': sk}) }}";
    util.api_url.user_info      = "{{ path("apiGetUserInfo") }}";
    util.api_url.send_heart     = "{{ path("apiSendHeart", {'sk': sk }) }}";
    util.api_url.friends_hearts_top = "{{ path("apiGetTopFriendsHearts", {'sk': sk }) }}";
    util.api_url.get_hearts     = "{{ path("apiGetHearts") }}";
    util.api_url.hearts_top     = "{{ path("apiGetTopHearts", {'sk': sk }) }}";

    // Paths & Hosts
    // ---------------------------------------
    util.images_path         = "{{ asset(gift.getUploadDir('images')) }}";
    util.thumbs_path         = "{{ asset(gift.getUploadDir('thumbs')) }}";
    util.covers_path         = "{{ asset(gift.getUploadDir('covers')) }}";
    util.abs_path            = "{{ app.request.uriForPath('/') }}";

    util.avatar_host         = "http://avt.appsmail.ru/";

    // Prices 
    // ---------------------------------------
    util.price = { };
    util.price.gift         = {{ config.gift_price }};
    util.price.gift_premium = {{ config.gift_price_premium }};
    util.price.private      = {{ config.private_cost }};
    util.price.incognito    = {{ config.incognito_cost }};
    util.private            = "{{ mm_private_key }}"; 

    // Gifts Categories
    // ---------------------------------------
    util.default_gift_cat = "{{ config.default_category }}";

    util.gift_category = {};
    {% for c in categories %}
        util.gift_category[ {{ c.id }} ] = '{{ c.name }}'; 
    {% endfor %}

    util.category_sort = {
        'popularity': 1,
        'created_at': 2
    };

    // User Params 
    // ---------------------------------------
    util.user_start_balance = {{ user.balance }};
    util.user_id            = {{ user.id }};
    util.user_login         = "{{ user.login }}";
    util.user_box           = "{{ user.box }}";
    util.is_install         = {{ is_install }};
    util.ref                = "{{ ref }}";
    util.user_hearts        = {{ hearts_count }};

    // Sliders config
    // ---------------------------------------
    util.show_friends  = {{ config.show_friends }};
    util.show_gifts    = {{ config.gifts_to_show }};
    util.show_gifts_my = {{ config.show_gifts_my }};
    util.show_gifts_friend = {{ config.show_gifts_friend }};

    // Covers
    // ---------------------------------------
    util.covers = {};
    {% for c in covers %}
        util.covers[ {{ c.id }} ] = {};
        util.covers[ {{ c.id }} ].cost = {{ c.getCost() }};
    {% endfor %}


    // Balance config
    // ---------------------------------------
    util.bconfig = {};

    {% for b in bconfig %} 
        util.bconfig[ {{ b.id }} ] = { };
        util.bconfig[ {{ b.id }} ].id = {{ b.serviceId }};
        util.bconfig[ {{ b.id }} ].name = '{{ b.serviceName }}';
        util.bconfig[ {{ b.id }} ].money = {{ b.money }};
        util.bconfig[ {{ b.id }} ].bonus = {{ b.bonus }};
        util.bconfig[ {{ b.id }} ].mailiki = {{ b.mailiki }};
    {% endfor %}

    // INIIT 
    // =======================================

    $(".increase_balance").fancybox({
        'overlayColor': '#fff'
    });

    // Hearts 
    // ---------------------------------------
    util.heart_cost = {{ config.heart_cost }};
    util.heart_interval = {{ config.heart_interval / (60 * 60) }}
    util.hearts_limit = new Date({{ hearts_limit.y }}, {{ hearts_limit.m - 1 }}, {{ hearts_limit.d }}, {{ hearts_limit.h }}, {{ hearts_limit.i }});
</script>

{% endblock %}
