<nav class="topline">
    <ul class="nav1">
        <li id="nav_index" class="active gft_mnu"><a href="#" onclick="view.gifts_catalog.showIndex(view, purchase, user, gifts_catalog, my_gifts)"><span><span class="bg-home">Главная</span></span></a></li>
        <li id="nav_friends" class="gft_mnu"><a href="#" onclick="view.friends.showFriendsPage(view, purchase, my_gifts, user)"><span><span class="bg-people">Мои друзья</span></span></a></li>
    </ul>
    <!-- end .nav1-->

    <div class="money"><span id="user_balance" class="fl">{{ user.balance }} монет</span> <a class="btn" href='#balance_window' id='inc_balance'><span>Пополнить</span></a></div>
    <!-- end .money--> 
</nav>
<!-- end .topline-->

<div style="display: none"> 
    <div id="balance_window" style="width: 450px; height: 310px">
        <header class="title">Пополнение баланса</header>
        <section class="buy">
            {% for b in bconfig %} 
                <article onclick="view.showPaymentDialog('{{ b.serviceId }}', '{{ b.serviceName }}', '{{ b.mailiki }}', '{{ b.money }}'  ,'{{ b.bonus }}', user)"> 
                    <div class="desc_money">{{ b.money }} 
                        {% if b.bonus %}
                        <span>+{{ b.bonus }}</span> 
                        {% endif %}
                        монет
                    </div>
                    <div class="desc">за {{ b.mailiki }} мэйликов</div>
                    <button class="mr_btn"><span><em>Купить</em></span></button>  
                </article>
            {% endfor %}
        </section>
        <!-- end .buy--> 
    </div>
    <!-- end .modal-->
</div>
