<div style="display: none"> 
    <div id="balance_window" style="width: 450px; height: 310px">
        <header class="title">Пополнение баланса</header>
        <section class="buy">
            {% for b in bconfig %} 
                <article onclick="cntrl_index.showPaymentWindow({{ b.id }})"> 
                    <div class="desc_money">{{ b.money }} 
                        {% if b.bonus %}
                        <span>+{{ b.bonus }}</span> 
                        {% endif %}
                        монет
                    </div>
                    <div class="desc">за {{ b.mailiki }} мэйликов</div>
                    <button class="button green medium">Купить</button>  
                </article>
            {% endfor %}
        </section>
        <!-- end .buy--> 
    </div>
    <!-- end .modal-->
</div>

<div style="display: none"> 
    <a href="#welcome_box" id="welcome" style="display:none"></a>
    <div id="welcome_box" style="width: 400px; overflow: hidden;">
        <div class="person">
            <div class="ava"><img width="50" height="50" src="http://avt.appsmail.ru/mail/ester.lastochkina/_avatar50"></div>
            <div class="text">Эстер Ласточкина</div>
        </div>
        <!-- end .person-->

        <div class="message">
            <div style="font-size: 14px; line-height: 18px; margin-bottom: 8px;">
                Привет, {{ user.nick }}!
                <br />
                Добро пожаловать в Мои подарки!
                <br />
                <br />
                Здесь ты сможешь радовать друзей классными подарками в Моем Мире. 
                Все мы любим дарить и получать подарки!
                <br />
                <br />
                <b>Я начислила тебе бонус: {{ config.start_bonus }} монет</b>! 
                <br />
                Порадуй друзей сегодня!
            </div>
            <div class="date">{{ today }}</div>
            <div class="arr"></div>
        </div>
        <!-- end .message-->

        <div class="bonus_text">
            <img src="../images/coins.png" style="display: inline" />
            <span style="display: inline-block; padding: 7px 0px 0px 5px">
            Бонус: <span style="color: #f09600">+{{ config.start_bonus }} монет</span> 
            </span>
        </div>

        <div style="margin-top: 15px; text-align: center">
            <button class="button green medium" onclick="$.fancybox.close()">Спасибо!</button>  
        </div>
    </div>
</div>

<div style="display: none">
    <div id="gift_window" class="gift" style="width: 300px">
        <header class="title">Подарок</header>
        <div class="img">
            <img id="show_gift_img" width="250" height="250" alt=" ">
        </div>

        <div class="person">
            <div class="ava" id="show_gift_from_img_c"><a href="#"><img id="show_gift_from_img" width="50" height="50" alt=" "></a></div>
            <div class="text" id="show_gift_from"></div>
        </div>

        <div id="show_gift_message" class="message">
            <div id="show_gift_text"></div>
            <div class="date" id="show_gift_date"></div>
            <div class="arr"></div>
        </div>

        <div class="answer">
            <button id="answer_gift" class="button green medium" href="#">Сделать ответный подарок</button>
        </div>
    </div>
</div>


<div style="display: none">
    <a href="#money_thanks_box" id="money_thanks" style="display:none"></a>
    <div id="money_thanks_box" style="width: 400px; overflow: hidden;">

        <div style="text-align: center; margin-bottom: 20px">
            <img src="{{ asset('images/money64.png') }}" />
        </div>

        <div class="bonus_text">
            Спасибо за пополнение баланса!
            <p class="small">Монеты были начислены на ваш баланс</p>
        </div>

        <div style="margin-top: 25px; text-align: center">
            <button class="button green medium" onclick="$.fancybox.close()">Закрыть</button>  
        </div>
    </div>
</div>
